<!--
    templateType: page
    label: Basic Page
    isAvailableForNewContent: true
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ content.html_title }}</title>
    <meta name="description" content="{{ content.meta_description }}">
    {{ require_css(get_asset_url('../css/main.css')) }}
    {{ standard_header_includes }}
  </head>
  <body>
    <div class="body-wrapper">

      {% global_partial path='./partials/header.html' %}

      <div class="content-wrapper">
        {% module "page_template_rich_text" path="@hubspot/rich_text" label="Rich Text" %}  
      </div>

      {% global_partial path='./partials/footer.html' %}
    </div>
  </body>
</html>
