<!--
    templateType: page
    isAvailableForNewContent: false
-->
<!-- Begin partial -->

    {% dnd_area "Highlight Content" label="highlight_content_dnd" %}
        {% dnd_section %}
            {% dnd_column width=6 %}
                {% dnd_row %}
                    {% dnd_module path='@hubspot/image', label='Side Image', 
                    img={
                        'src': get_asset_url('../../images/cat-look.jpg'),
                        'alt': 'Cat hero',
                        'size_type': 'auto'
                    }
                    %}
                    {% end_dnd_module %}
                {% end_dnd_row %}
            {% end_dnd_column %}

            {% dnd_column width=6, offset=6 %}
                {% dnd_row %}
                    {% dnd_module path='@hubspot/rich_text', label="Rich Text" %}
                        {% module_attribute "html"%}
                            <h3>Find out what this cat is looking at</h3>
                            <p>We honestly don't currently understand what this cat is looking at. It could be a small insect. It could be an errant carpet fiber. Perhaps the cat is looking at nothing and pondering deep existental questions that have haunted us all at one time or another.
                                <br>
                                We may never know. But we will never stop trying to find the answer.
                            </p>
                        {% end_module_attribute %}
                    {% end_dnd_module %}
                {% end_dnd_row %}
            {% end_dnd_column %}
        {% end_dnd_section %}
    {% end_dnd_area %}
<!-- End partial -->
