<!--
    templateType: global_partial
    label: Header
    isAvailableForNewContent: false
-->
<!-- Begin partial -->

    <header>
        <div class="content-wrapper">
            <h1>Cats are wonderful</h1>
            <div class="row-fluid">
                <div class="span5">
                    <p>{% module "text" path="@hubspot/text" value="The naming of cats is a difficult matter. It isn't just one of your holiday games. You may think at first I am mad as a hatter. When I tell you a cat must have three different names.." %}</p>
                    <p>T.S. Eliot</p>
                </div>
            </div>
        </div>
    </header>
<!-- End partial -->
